{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 


    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'homepage/bootstrap/css/bootstrap.min.css' %}">
    
   <title>Med-Assistant</title>
   
   <link rel="stylesheet" href="{% static 'homepage/bootstrap/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'homepage/css.css' %}">
    





    {% block head %}



    {% endblock %}


  
  </head>


  <body>

<!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="{% url 'home' %}">Med- Asssistant</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'home' %}">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'home' %}">About</a></li>
          <li><a class="nav-link scrollto" href="{% url 'home' %}">Contact</a></li>

          {% if user.is_authenticated %}
                      
          {% if user.patient %}
          <li><a class="nav-link scrollto" href="{% url 'patient_ui' %}">Hello, {{user.patient.name}}</a></li>
          <li><a class="nav-link scrollto" href="{% url 'patient_ui' %}">Profile</a></li>

          {% endif %}
          
          {% if user.doctor  %}
          <li><a class="nav-link scrollto" href="{% url 'doctor_ui' %}">Hello, Dr. {{user.doctor.name}}</a></li>
          <li><a class="nav-link scrollto" href="{% url 'doctor_ui' %}">Profile</a></li>

          {% endif %}

          {% if user.is_superuser  %}
          <li><a class="nav-link scrollto" href="{% url 'admin_ui' %}">Admin: {{user.username}}</a></li>
          <li><a class="nav-link scrollto" href="{% url 'admin_ui' %}">Profile</a></li>

          {% endif %}
        
          <li class="nav-item ml-2">
        <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#logout-modal" style="color: rgb(247, 190, 188);">Log out</button>
            
          </li>




          <!-- Small modal -->

<div class="modal fade" id="logout-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header"><h4>Logout <i class="fa fa-lock"></i></h4></div>
      <div class="modal-body"><i class="fa fa-question-circle"></i><span style="color: rgb(42, 187, 6);">{{user.patient.name}}</span>, Are you sure you want to log-off?</div>
      <div class="modal-footer"><a href="{% url 'logout' %}" class="btn btn-primary btn-block">Logout</a></div>
    </div>
  </div>
</div>
          
          {% else %}
          <li><a class="nav-link scrollto" data-toggle="modal" data-target=".bd-example-modal-lg">Signin</a></li>

          <li><a class="getstarted scrollto" data-toggle="modal" data-target=".bd-example-modal-lg2">Get Started</a></li>
          {% endif %}

        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Better Solutions For Your Disease</h1>
          <h2>Get instant guidance on your disease through our intelligent system</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a  class="btn-get-started scrollto" data-toggle="modal" data-target=".bd-example-modal-lg2">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{% static 'assets/img/hero-img.png' %}"  class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section>

      
      



    
<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
     
  <center>
    <h1>Sign-In  As</h1>
    </center>
  <br><br>
  
  <center>
  <form>
      <div class="container mt-5 mb-5">
   <div class="row">
      <div class="col">
         <a href="{% url 'sign_in_admin' %}">
  <img  alt="admin" src="{% static 'homepage/admin.png' %}"  class="img">
  </a>
      </div>
  
      <div class="col">
  <a href="{% url 'sign_in_doctor' %}">
  <img  alt="doctor" src="{% static 'homepage/doctor.png' %}"  class="img">
  </a>
      </div>
  
      <div class="col">
  <a href="{% url 'sign_in_patient' %}">
  <img  alt="patient" src="{% static 'homepage/patient.png' %}"  class="img">
  </a>
      </div>
    </div>
    </div>
  </form>
  </center>
  
      </div>
    </div>
  </div>



  {% block body %}

  {% endblock %}




</div>



   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 


</body>
</html>